.navbar{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border: black solid 1px;
    align-items: center;
}
.navbar ul{
    list-style-type: none;
    display: flex;
}
.navbar li{
    padding: 15px;
}
.logo{
    width: 100px;
}
.restaurantImg{
    width: 100%;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.cardList{
    display: flex;
    flex-wrap: wrap;
}